main {
    background-color: black;

  }
  h1 {
    color: white;
  }
  .myCard {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    .image{
      width: 180px;
      height: 180px;
      overflow: hidden;
    }
    .txt {
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }




