
main {
    background-color: rgb(24, 23, 23);
    color: white;
}

img {
width: 100%;
}

.d-flex {
display: flex;
}

.justify-center {
justify-content: center;
}

.justify-between {
justify-content: space-between;
}

.align-center {
align-items: center;
}
